name: Build Conda Lock and Docker Image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  generate-lock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Install conda-lock
        run: pip install conda-lock


      - name: Generate multi-platform lock file
        run: |
          conda-lock lock \
            --platform linux-64 \
            --platform linux-aarch64 \
            --mamba \
            -f environment.yml
        
      - name: Upload lock file artifact
        uses: actions/upload-artifact@v4
        with:
          name: environment-lock
          path: conda-lock.yml
          
  build-docker:
    needs: generate-lock
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      
      - name: Download lock file
        uses: actions/download-artifact@v4
        with:
          name: conda-lock

      - name: Show conda-lock.yml
        run: cat conda-lock.yml
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=sha,format=short

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push Docker multi-arch image
        uses: docker/build-push-action@v6.15.0
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max


